<?xml version="1.0" encoding="UTF-8"?>

        <beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans">

    <!-- 自动加载属性配置文件 -->


    <context:property-placeholder location="classpath:config/db.properties"/>

    <!-- 阿里 druid 数据库连接池 -->



    <bean destroy-method="close" class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">

    <!-- 数据库基本信息配置 -->


    <property value="${jdbc.driver}" name="driverClassName"/>

    <property value="${jdbc.url}" name="url"/>

    <property value="${jdbc.username}" name="username"/>

    <property value="${jdbc.password}" name="password"/>

    <property value="stat" name="filters"/>

    <!-- 最大并发连接数 -->


    <property value="10" name="maxActive"/>

    <!-- 初始化连接数量 -->


    <property value="5" name="initialSize"/>

    <!-- 配置获取连接等待超时的时间 -->


    <property value="10000" name="maxWait"/>

    <!-- 最小空闲连接数 -->


    <property value="5" name="minIdle"/>

    <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->


    <property value="60000" name="timeBetweenEvictionRunsMillis"/>

    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->


    <property value="300000" name="minEvictableIdleTimeMillis"/>

    <property value="true" name="testWhileIdle"/>

    <property value="false" name="testOnBorrow"/>

    <property value="false" name="testOnReturn"/>

    <property value="true" name="keepAlive"/>

</bean>

    <!-- mybatis的SqlSession的工厂:dataSource:引用数据源,typeAliasesPackage 实体类所在的包 -->



    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">

    <property value="classpath:mybatis/SqlMapConfig.xml" name="configLocation"/>

    <property name="dataSource" ref="dataSource"/>

    <property value="classpath:mapper/*.xml" name="mapperLocations"/>

</bean>

    <!-- 配置事务管理器 -->


    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager" p:dataSource-ref="dataSource"/>

    <!--MyBatis-Spring自动创建代理，直接注入数据映射器接口到你的 service， 当使用映射器时,你仅仅如调 用你的 DAO接口 不用自己写实现接口的代码。 basePackage:指定sql映射文件/接口所在的包（自动扫描） -->



    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

    <property value="com.cykj.demo.mapper" name="basePackage"/>

</bean>

</beans>